<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>

    <li> <a th:href="@{/singer/create}">Ir a crear Singer</a> </li>
    <li><a th:href="@{/singer/listar}">Ir a listar Singers</a></li>
</body>
</html>