<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Listar</title>
</head>
<body>
<div>
    <!--<h3 th:text="${page.number+1}+'of+${page.totalPages}'"></h3>-->
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="persona : ${singers}">
            <td th:text = "${persona.firstName}"></td>
            <td th:text = "${persona.lastName}"></td>
            <td th:text = "${persona.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>